<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><%= @user.name %>さんのタイムライン</h2>
      <br />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
      <!-- TWEET WRAPPER START -->
      <div class="twt-wrapper">
        <div class="panel panel-info">
          <div class="panel-heading">Feed</div>
          <div class="panel-body">
            <ul class="media-list">
              <% @pictures.each do |picture| %>
                <li class="media">
                  <div class="timeline-header">
                    <%= profile_img(picture.user) if profile_img(picture.user) %>
                    <strong class="text-success">@<%= picture.user.name %></strong>
                  </div>
                  <div class="media-body">
                    <span class="text-muted pull-right">
                    </span>
                    <p><%= image_tag(picture.image_url, class: 'timeline-picture') %></p>
                  </div>
                </li>
                <%= link_to '', picture, class: 'fa fa-image fa-fw' %>
                <%= link_to '', edit_picture_path(picture), class: 'fa fa-edit fa-fw' %>
                <%= link_to '', picture, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash fa-fw' %>
              <% end %>
            </ul>
            <span class="text-danger">237K users active</span>
          </div>
        </div>
      </div>
      <!-- TWEET WRAPPER END -->
    </div>
  </div>
</div>


